<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{/register}" style="text-align: center" method="post">
        할 일: <input name="contents" type="text" size="10px">
        <input type="submit" value="등록">
    </form>
    <br>
    <table border="1" th:inline="text" style="width: 50%; margin-left: auto; margin-right: auto; text-align: center">
        <thead>
        <tr>
            <th>상태</th>
            <th>할 일</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo: ${todoList}" th:id="${todo.tid}">
            <td>
                <form th:action="@{/toggle}">
                    <input type="hidden" name="tid" th:value="${todo.tid}">
                    <input class="completeCheckBox" type="submit" name="completed" th:text="${todo.completed ? '완료' : '진행중'}">
                </form>
            </td>
            <td>
                <a th:href='@{/view(tid=${todo.tid})}' th:text="${todo.contents}" th:style="${todo.completed ? 'text-decoration:line-through' : ''}"></a>
            </td>
            <form th:action="@{/delete}">
                <input type="hidden" name="tid" th:value="${todo.tid}">
                <td><input type="submit" value="삭제" class="deleteTodo"></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>