<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content">
    <p>할 일</p>
    <form th:action="@{/modify}" method="post">
    <input type="hidden" th:value="${todo.tid}" name="tid">
    <input type="text" th:value="${todo.contents}" id="contents" name="contents">

    <p>상태</p>
    <input type="text" th:if="${todo.completed}" th:value="완료" readonly>
    <input type="text" th:unless="${todo.completed}" th:value="진행중" readonly>

    <p>등록일</p>
    <input type="text" th:value="${todo.getCreated_time()}" readonly>

    <p>수정일</p>
    <input type="text" th:value="${todo.getModified_time()}" readonly>
    <br><br>
    <input type="submit" value="수정">
    <input type="button" value="목록" onclick="location.href='/home'">
    </form>
</div>
