<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todolist.mapper.TodoMapper">
    <insert id="insertTodo" parameterType="com.todolist.dto.TodoDTO">
        <![CDATA[
            insert into todo (contents) values (#{t.contents})
        ]]>
    </insert>

    <delete id="deleteTodo">
        delete from todo where tid = #{tid}
    </delete>

    <update id="updateTodo" parameterType="com.todolist.dto.TodoDTO">
        <![CDATA[
            update todo
            set contents = #{t.contents}, modified_time = now()
            where tid = #{t.tid};
        ]]>
    </update>

    <select id="selectTodo" resultType="com.todolist.dto.TodoDTO">
        select * from todo where tid = #{tid}
    </select>

    <select id="selectAllTodo" resultType="com.todolist.dto.TodoDTO">
        select * from todo
    </select>

    <update id="toggleTodo">
        update todo set completed = abs(completed-1), modified_time = now() where tid = #{tid}
    </update>

</mapper>